@media screen and (min-width: 760px) {
  body {
    div.github-app {
      display: flex;
      align-items: center;
      justify-content: center;
      div.container {
        width: 573px;
        main.main-container {
          section.search-content {
            div.img-head-container {
              div.img-container {
                img {
                  height: 117px;
                  width: 117px;
                }
              }
            }

            section.user-details {
              div.socials {
                grid-template-columns: repeat(2, 1fr);
              }
            }
          }
        }
      }
    }
  }
}

// desktop
@media screen and (min-width: 1100px) {
  body {
    div.github-app {
      display: flex;
      align-items: center;
      justify-content: center;
      div.container {
        width: 730px;

        main.main-container {
          section.search-content {
            padding: 2em;
            div.img-head-container {
              header.head {
                flex: 1;
                display: flex;
                align-items: flex-start;
                justify-content: space-between;
              }
              section.user-details {
              }
              div.img-container {
                margin-right: 25px;
                text-align: center;
                width: 150px;
                img {
                  height: 117px;
                  width: 117px;
                }
              }
            }
            gap: 0;
            grid-template-areas:
              "img img"
              ". details";
          }
        }
      }
    }
  }
}
