/* dark background */
/* light background */
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital@1&display=swap");
* {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Space Mono", monospace;
}

svg {
  width: 20px;
  height: 20px;
}

img {
  max-width: 100%;
}

body {
  font-family: "Space Mono", monospace;
  font-size: 16px;
  background: #f6f8ff;
}

body div.github-app {
  min-height: 100vh;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  padding: 1.3em;
}

body div.github-app.dark {
  background: #141d2f;
  color: #ffffff;
}

body div.github-app nav.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.3em 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body div.github-app nav.nav button.toggle-theme {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1.3em;
  background: transparent;
}

body div.github-app nav.nav button.toggle-theme span {
  margin-right: 0.5em;
}

body div.github-app main.main-container {
  margin-top: 1.5em;
}

body div.github-app main.main-container div.search-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 1.3em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ffffff;
  margin: 1.2em 0;
}

body div.github-app main.main-container div.search-container input[type="text"] {
  padding: 1.5em 1.3em;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 0.9em;
}

body div.github-app main.main-container div.search-container button.btn {
  padding: 1.3em 1.7em;
  background: #0079ff;
  color: #ffffff;
  border-radius: 10px;
}

body div.github-app main.main-container div.search-container button.btn:hover {
  background: #60abff;
}

body div.github-app main.main-container div.search-container,
body div.github-app main.main-container search.search-content {
  border-radius: 10px;
}

body div.github-app main.main-container section.search-content {
  background: #ffffff;
  padding: 1.2em;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "img usr-details" "details details";
}

body div.github-app main.main-container section.search-content img {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: img;
  height: 110px;
  width: 110px;
  border-radius: 110px;
}

body div.github-app main.main-container section.search-content header.head {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: usr-details;
}

body div.github-app main.main-container section.search-content header.head div.head-left p {
  color: #0079ff;
  font-weight: bold;
}

body div.github-app main.main-container section.search-content section.user-details {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: details;
  padding: 1.4em 0;
}
/*# sourceMappingURL=index.css.map */