$call-to-aciton: #0079ff;
$call-to-aciton-hover: #60abff;

/* dark background */
$dark-foreground: #ffffff;
$dark-body-background: #141d2f;
$container-background: #1e2a47;
$border-radius: 15px;

/* light background */

$light-body-background-color: #f6f8ff;
$light-container-background: #f6f8ff;
$light-foreground-color: #2b3442;

$light-toggle-hover: #222731;
$dark-toggle-hover: #90a4da;
$white: #ffffff;

$padding: 1.3em;

@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");

* {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  font-family: "Space Mono", monospace;
}
svg {
  width: 20px;
  height: 20px;
}

img {
  max-width: 100%;
}
button {
  cursor: pointer;
}
body {
  font-family: "Space Mono", monospace;
  font-size: 16px;
  //   padding: $padding;
  div.github-app {
    background: $light-body-background-color;
    color: $light-foreground-color;
    min-height: 100vh;
    transition: all 0.5s;
    padding: $padding;
    &.dark {
      background: $dark-body-background;
      color: $white;

      div.container {
        nav.nav {
          button.toggle-theme {
            color: $white;
            &:hover {
              color: #90a4da;
              svg {
                path,
                g {
                  fill: #90a4da;
                }
              }
            }
          }
        }
        main.main-container {
          div.search-container,
          section.search-content {
            background: $container-background;
          }
          div.search-container {
            input[type="text"] {
              color: $white;
            }
          }

          section.search-content {
            section.user-details {
              div.repo-details {
                background: $dark-body-background;
              }
            }

            div.socials {
              span.social {
                svg {
                  path,
                  g {
                    fill: $white;
                  }
                }

                a {
                  color: $white;
                }
              }
            }
          }
        }
      }
    }

    div.container {
      nav.nav {
        display: flex;
        padding: 1.2em 0;
        align-items: center;
        justify-content: space-between;

        button.toggle-theme {
          display: flex;
          align-items: center;
          padding: 0 1.5em;
          background: transparent;
          span {
            margin-right: 0.5em;
          }
        }
      }

      main.main-container {
        margin-top: 1.5em;
        div.search-container {
          display: flex;
          padding: 0.5em 0.5em;
          align-items: center;
          background: $white;
          margin: 1.7em 0;
          input[type="text"] {
            padding: 1.2em $padding;
            flex: 1;
            font-size: 0.9em;
            background: transparent;
          }

          button.btn {
            padding: $padding 1.7em;
            background: $call-to-aciton;
            color: $white;
            border-radius: $border-radius;
            &:hover {
              background: $call-to-aciton-hover;
            }
          }
        }

        div.search-container,
        section.search-content {
          border-radius: $border-radius;
          box-shadow: 0 0px 50px rgba(0, 0, 0, 0.2);
        }

        section.search-content {
          background: $white;
          padding: 1.2em;
          display: grid;
          grid-template-areas: "img usr-details" "details details";
          gap: 15px;
          div.img-container {
            text-align: center;
            img {
              grid-area: img;
              height: 70px;
              width: 70px;
              border-radius: 110px;
            }
          }

          section.user-details {
            grid-area: usr-details;
            header.head {
              grid-area: usr-details;
              margin-bottom: 1.5em;
              div.head-left {
                p {
                  color: $call-to-aciton;
                  font-weight: bold;
                }
              }
            }
            p.bio {
              margin-bottom: 1.4em;
            }
            div.repo-details {
              display: flex;
              justify-content: space-evenly;
              padding: $padding 0;
              background: $light-body-background-color;
              border-radius: $border-radius;
              margin-bottom: 1.3em;
              div.r-details {
                text-align: center;
              }
            }

            div.socials {
              display: grid;
              grid-template-columns: 1fr;
              span.social {
                margin-bottom: 1em;
                display: flex;
                align-items: center;
                svg {
                  margin-right: 15px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@import "./media_query";
