$call-to-aciton: #0079ff;
$call-to-aciton-hover: #60abff;

/* dark background */
$dark-foreground: #ffffff;
$dark-body-background: #141d2f;
$container-background: #1e2a47;
$border-radius: 10px;

/* light background */

$light-body-background-color: #fefefe;
$light-container-background: #f6f8ff;
$light-foreground-color: #2b3442;

$light-toggle-hover: #222731;
$dark-toggle-hover: #90a4da;
$white: #ffffff;

$padding: 1em;

@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital@1&display=swap");

* {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  font-family: "Space Mono", monospace;
}
svg {
  width: 20px;
  height: 20px;
}

img {
  max-width: 100%;
}

body {
  font-family: "Space Mono", monospace;
  font-size: 16px;
  background: $light-body-background-color;
  //   padding: $padding;
  div.github-app {
    min-height: 100vh;
    transition: all 0.5s;
    &.dark {
      background: $dark-body-background;
      color: $dark-foreground;
    }
    nav.nav {
      display: flex;
      padding: $padding;
      align-items: center;
      justify-content: space-between;

      button.toggle-theme {
        display: flex;
        align-items: center;
        padding: 0 $padding;
        background: transparent;
        span {
          margin-right: 0.5em;
        }
      }
    }

    main.main-container {
      padding: $padding;
      div.search-container {
        display: flex;
        align-items: center;
        background: $white;
        margin: 1.2em 0;
        input[type="text"] {
          padding: 1.5em $padding;
          flex: 1;
          font-size: 0.9em;
        }

        button.btn {
          padding: $padding 1.7em;
          background: $call-to-aciton;
          color: $white;
          border-radius: $border-radius;
          &:hover {
            background: $call-to-aciton-hover;
          }
        }
      }
    }
  }
}
