$call-to-aciton: #0079ff;
$call-to-aciton-hover: #60abff;

/* dark background */
$dark-foreground: #ffffff;
$dark-body-background: #141d2f;
$container-background: #1e2a47;

/* light background */

$light-body-background-color: #fefefe;
$light-container-background: #f6f8ff;
$light-foreground-color: #2b3442;

$light-toggle-hover: #222731;
$dark-toggle-hover: #90a4da;

$padding: 1em;

body {
  font-size: 16px;
}

svg {
  width: 30px;
  height: 30px;
}
